
body {
    padding-top: 200px;
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
#body{
    width:100%;
}

.navbar-brand {
    color: white;	
}

footer {
    padding-top: 100px;
    margin: 50px 0;
}
#modal{
    height:80vh;
    width:80vw;
    top:10vh;
    left:10vw;
    position:fixed;
    background-color:rgb(100, 100, 100);
    z-index:2;
}